<div>
  <form [formGroup]="filterForm" (ngSubmit)="onSearch()" >
    <input type="text" formControlName="search">
    <button type="submit"> Buscar post</button>
  </form>
  <div *ngFor="let post of posts">
    <h1>
      {{post.id}} {{post.title}}
    </h1>
    <h2>
      {{post.author}}
    </h2>
    <img [src]="post.img">
    <button (click)="onDelete(post.id)">Eliminar</button>
    <button (click)="onEdit(post)">Editar</button>
  </div>

  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <label> Titulo
      <input type="text" formControlName="title">
    </label>
    <label> Author
      <input type="text" formControlName="author">
    </label>
    <button *ngIf="!editPost" [disabled]="postForm.invalid" type="submit"> Crear post</button>
    <button *ngIf="editPost" [disabled]="postForm.invalid" type="submit"> Editar post</button>
  </form>

</div>

<router-outlet></router-outlet>
